[submodule "tablua"]
	path = submodules/tablua
	url = https://github.com/OpenRelationship/tablua
[submodule "submodules/connectory"]
	path = submodules/connectory
	url = https://github.com/OpenRelationship/connectory
